<!DOCTYPE html>
<html>
<head>
    <title>Smart Attendance System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-box">
    <h1>Smart Attendance System</h1>
    <p>Academic Attendance Monitoring</p>

    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">

    <button onclick="login()">Login</button>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>